body {
  margin: 0;
}

.studentContainer {
  height: 45vh;
  width: 30vw;
  margin: 150px auto ;
  background-image: linear-gradient(to right, skyblue, pink);
  padding: 60px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
}


.instructorContainer {
  height: 30vh;
  width: 20vw;
  margin: 150px auto ;
  background-image: linear-gradient(to right, skyblue, pink);
  padding: 80px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
}

.registerContainer{
  height: 30vh;
  width: 30vw;
  margin: 200px auto ;
  background-image: linear-gradient(to right, skyblue, pink);
  padding: 60px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
}
